.info {
    margin: inherit;
    padding: 5px;

    height: calc(100% - 10px);
    width: calc(100% - 10px);

    border-top: solid 1px #000000;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 610px) {
    .info {
        justify-content: center;
    }
}